.main-navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5rem;
  background-color: var(--navbar-color);
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.main-navigation__logo {
  h1 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--text-color-light);
  }
}

.main-navigation__items {
  margin: 1.5rem;
  a,
  button {
    text-decoration: none;
    color: var(--navbar-link-color);
    padding: 0.25rem 0.5rem;
    border: none;
    font: inherit;
    background: transparent;
    cursor: pointer;
    &:hover,
    &:active {
      color: var(--navbar-link-hover);
    }
    &.active {
      color: var(--navbar-link-active);
    }
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    li {
      margin: 0 1rem;
    }
  }
}
